.countryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countryCard {
  margin:10px;
  padding: 20px;
  width: 400px;
  height: auto;
  border: 1px solid grey;
  background-color: rgb(36, 36, 36);
  color: white;

}

.countryCard:hover {
  opacity: 0.6;
  background-color: grey;
  color:black;

}

.countryCard > h1 {
  font-size:20px;
}


.countryCard > span {
  font-size:15px;
  opacity: 0.5;
}